.header {
    justify-content: center;
    height: 7%;
}

span {
    display: flex;
    align-items: center;
}

.texto {
    font-size: 2rem;
    color: #ff80c0;
    text-shadow: 3px 2px 5px rgba(245, 76, 161, 0.68);
    text-align: center;
}